In [142]:
import pandas as pd
import numpy as np

In [143]:
df=pd.read_excel('C:/Users/Dell/Downloads/d2gu.xlsx')

In [144]:
df.head()

,Unnamed: 0,type_respondent,workplace_setup,name,age,gender,community,educ_qua,work_sector,work_sector_i,...,BPL FI,Income Expenses Savings FI,Loan Assets FI,Financial Index Negative,Accident ESI,Issues ESI,Employer Satisfaction Index,Health status positive,work affecting health positive,medical facilty at work
0,0,Self Employed,Yes,mevati devi,32.0,Female,OBC,Secondary,Currently Unemployed,Others,...,N,N,N,Y,False,True,N,N,Y,Y
1,1,Self Employed,Yes,Govind,45.0,Male,SC,Secondary,Service Sector,Organised and Unorganised Retail,...,N,N,N,Y,False,True,N,Y,N,N
2,2,Self Employed,Yes,Giddi,51.0,Female,SC,Secondary,Service Sector,Tourism and Hospital,...,N,N,N,Y,False,False,Y,Y,Y,N
3,3,Self Employed,Yes,Shubham singh,18.0,Male,SC,Secondary,Service Sector,Transport,...,Y,N,N,Y,False,True,N,Y,Y,N
4,4,Self Employed,Yes,Anjali,18.0,Female,SC,Higher Secondary,Industry,Banking and Finance,...,N,N,N,Y,False,True,N,Y,Y,N

In [145]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()

In [146]:
df.columns

Index(['Unnamed: 0', 'type_respondent', 'workplace_setup', 'name', 'age',
       'gender', 'community', 'educ_qua', 'work_sector', 'work_sector_i',
       'year_employment', 'workdays_weekly', 'accident_involved', 'emp_nature',
       'wage', 'mon_inc', 'bonus', 'pf', 'wage_others', 'fringe',
       'tot_mon_income_house', 'tot_mon_exp_house', 'tot_cumm_save_cih_bk',
       'tot_cumm_saving_jewlry', 'tot_cumm_saving_other', 'fixed_asset_land',
       'fixed_asset_house', 'fixed_asset_cattle', 'debt_to_bank',
       'debt_to_contractors', 'debt_to_money_lender',
       'migrated_to_current_place_6_month', 'type_migration',
       'emp_status_before_migration', 'tot_emp_workplace',
       'work_effect_health', 'medical_faclity_workspace',
       'rest_room_woman_workplace', 'problems_in_behaviour_superiors',
       'problems_in_policies_management',
       'problems_in_nonredressal_grievances', 'problems_in_others',
       'schemes_by_govt_emp_generation', 'schemes_by_govt_household',
       'schemes_by_govt_agri_ins', 'schemes_by_govt_health_ins',
       'schemes_by_govt_other', 'below_poverty_line', 'health_status',
       'treat_location', 'quality_treatment', 'work_sector_ii',
       'multiple_source_income', 'digital_payment', 'raw_material',
       'gov_policy_link_aadhar', 'is_policy_conn_money',
       'is_policy_conn_health', 'Monthly Income FI', 'BPL FI',
       'Income Expenses Savings FI', 'Loan Assets FI',
       'Financial Index Negative', 'Accident ESI', 'Issues ESI',
       'Employer Satisfaction Index', 'Health status positive',
       'work affecting health positive', 'medical facilty at work'],
      dtype='object')

In [17]:
df[['type_respondent', 'workplace_setup', 
       'gender', 'community', 'educ_qua', 'work_sector', 'work_sector_i',
       'year_employment', 'workdays_weekly', 'hour_per_day','emp_nature', 'wage', 'mon_inc',
       'bonus', 'pf', 'wage_others',
        'fixed_asset_land',
       'fixed_asset_house', 'fixed_asset_cattle', 'debt_to_bank',
       'debt_to_contractors', 'debt_to_money_lender',
       'migrated_to_current_place_6_month', 'type_migration',
       'emp_status_before_migration', 'tot_emp_workplace',
       'work_effect_health', 'medical_faclity_workspace',
       'rest_room_woman_workplace', 'problems_in_behaviour_superiors',
       'problems_in_policies_management',
       'problems_in_nonredressal_grievances', 'problems_in_others',
       'schemes_by_govt_emp_generation', 'schemes_by_govt_household',
       'schemes_by_govt_agri_ins', 'schemes_by_govt_health_ins',
       'schemes_by_govt_other', 'below_poverty_line', 'health_status',
       'treat_location', 'quality_treatment', 'template',
       'multiple_source_income', 'digital_payment', 'raw_material',
       'gov_policy_link_aadhar', 'Monthly Income FI', 'BPL FI',
       'Income Expenses Savings FI', 'Loan Assets FI',
       'Financial Index Negative', 'Accident ESI', 'Issues ESI',
       'Employer Satisfaction Index', 'Health status positive',
       'work affecting health positive', 'medical facilty at work']]

In [179]:
obj_df = df.select_dtypes(include=['object']).copy()

In [180]:
obj_df

,type_respondent,workplace_setup,name,gender,community,educ_qua,work_sector,work_sector_i,year_employment,workdays_weekly,...,is_policy_conn_health,Monthly Income FI,BPL FI,Income Expenses Savings FI,Loan Assets FI,Financial Index Negative,Employer Satisfaction Index,Health status positive,work affecting health positive,medical facilty at work
0,Self Employed,Yes,mevati devi,Female,OBC,Secondary,Currently Unemployed,Others,NaN,NaN,...,NaN,Y,N,N,N,Y,N,N,Y,Y
1,Self Employed,Yes,Govind,Male,SC,Secondary,Service Sector,Organised and Unorganised Retail,3-7 years,5-7 days,...,NaN,Y,N,N,N,Y,N,Y,N,N
2,Self Employed,Yes,Giddi,Female,SC,Secondary,Service Sector,Tourism and Hospital,3-7 years,5-7 days,...,NaN,Y,N,N,N,Y,Y,Y,Y,N
3,Self Employed,Yes,Shubham singh,Male,SC,Secondary,Service Sector,Transport,1-3 years,5-7 days,...,NaN,Y,Y,N,N,Y,N,Y,Y,N
4,Self Employed,Yes,Anjali,Female,SC,Higher Secondary,Industry,Banking and Finance,1-3 years,5-7 days,...,NaN,Y,N,N,N,Y,N,Y,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5558,Self Employed,No,ram samajh,NaN,NaN,NaN,Currently Unemployed,NaN,NaN,NaN,...,NaN,Y,N,N,N,Y,Y,N,Y,N
5559,Self Employed,No,poonam,Female,SC,Secondary,Currently Unemployed,NaN,NaN,NaN,...,NaN,Y,N,N,N,Y,N,N,Y,N
5560,Self Employed,No,Shobha vati,Female,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,N,N,N,N,N,N,Y,N,N
5561,Self Employed,No,dinesh,Male,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,Y,Y,N,N,Y,N,N,Y,N
5562,Self Employed,No,nitu,Female,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,Y,Y,N,N,Y,N,N,Y,N

In [181]:
obj_df[obj_df.isnull().any(axis=1)]

,type_respondent,workplace_setup,name,gender,community,educ_qua,work_sector,work_sector_i,year_employment,workdays_weekly,...,is_policy_conn_health,Monthly Income FI,BPL FI,Income Expenses Savings FI,Loan Assets FI,Financial Index Negative,Employer Satisfaction Index,Health status positive,work affecting health positive,medical facilty at work
0,Self Employed,Yes,mevati devi,Female,OBC,Secondary,Currently Unemployed,Others,NaN,NaN,...,NaN,Y,N,N,N,Y,N,N,Y,Y
1,Self Employed,Yes,Govind,Male,SC,Secondary,Service Sector,Organised and Unorganised Retail,3-7 years,5-7 days,...,NaN,Y,N,N,N,Y,N,Y,N,N
2,Self Employed,Yes,Giddi,Female,SC,Secondary,Service Sector,Tourism and Hospital,3-7 years,5-7 days,...,NaN,Y,N,N,N,Y,Y,Y,Y,N
3,Self Employed,Yes,Shubham singh,Male,SC,Secondary,Service Sector,Transport,1-3 years,5-7 days,...,NaN,Y,Y,N,N,Y,N,Y,Y,N
4,Self Employed,Yes,Anjali,Female,SC,Higher Secondary,Industry,Banking and Finance,1-3 years,5-7 days,...,NaN,Y,N,N,N,Y,N,Y,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5558,Self Employed,No,ram samajh,NaN,NaN,NaN,Currently Unemployed,NaN,NaN,NaN,...,NaN,Y,N,N,N,Y,Y,N,Y,N
5559,Self Employed,No,poonam,Female,SC,Secondary,Currently Unemployed,NaN,NaN,NaN,...,NaN,Y,N,N,N,Y,N,N,Y,N
5560,Self Employed,No,Shobha vati,Female,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,N,N,N,N,N,N,Y,N,N
5561,Self Employed,No,dinesh,Male,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,Y,Y,N,N,Y,N,N,Y,N
5562,Self Employed,No,nitu,Female,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,Y,Y,N,N,Y,N,N,Y,N

In [182]:
obj_df["workplace_setup"] = obj_df["workplace_setup"].map( 
                   {"Yes":1 ,"No":0})

In [183]:
obj_df["Monthly Income FI"] = obj_df["Monthly Income FI"].map( 
                   {'Y':1 ,'N':0})

In [184]:
obj_df["BPL FI"] = obj_df["BPL FI"].map( 
                   {'Y':1 ,'N':0})

In [185]:
obj_df["Income Expenses Savings FI"] = obj_df["Income Expenses Savings FI"].map( 
                   {'Y':1 ,'N':0})

In [198]:

obj_df["Loan Assets FI"] = obj_df["Loan Assets FI"].map( 
                   {'Y': 1 ,'N':0})

In [187]:

obj_df["Financial Index Negative"] = obj_df["Financial Index Negative"].map( 
                   {'Y':1 ,'N':0})

In [188]:

obj_df["Employer Satisfaction Index"] = obj_df["Employer Satisfaction Index"].map( 
                   {'Y':1 ,'N':0})

In [189]:

obj_df["Health status positive"] = obj_df["Health status positive"].map( 
                   {'Y':1 ,'N':0})
obj_df["work affecting health positive"] = obj_df["work affecting health positive"].map( 
                   {'Y':1 ,'N':0})
obj_df["bonus"] = obj_df["bonus"].map( 
                   {'Yes':1 ,'No':0})
obj_df["wage_others"] = obj_df["wage_others"].map( 
                   {'Yes':1 ,'No':0})
obj_df["fixed_asset_land"] = obj_df["fixed_asset_land"].map( 
                   {'Yes':1 ,'No':0})
obj_df["fixed_asset_cattle"] = obj_df["fixed_asset_cattle"].map( 
                   {'Yes':1 ,'No':0})

In [199]:
obj_df

,type_respondent,workplace_setup,name,gender,community,educ_qua,work_sector,work_sector_i,year_employment,workdays_weekly,...,is_policy_conn_health,Monthly Income FI,BPL FI,Income Expenses Savings FI,Loan Assets FI,Financial Index Negative,Employer Satisfaction Index,Health status positive,work affecting health positive,medical facilty at work
0,Self Employed,1.0,mevati devi,1.0,OBC,Secondary,Currently Unemployed,Others,NaN,NaN,...,NaN,1,0,0,NaN,1,0,0,1,1
1,Self Employed,1.0,Govind,0.0,SC,Secondary,Service Sector,Organised and Unorganised Retail,3-7 years,5-7 days,...,NaN,1,0,0,NaN,1,0,1,0,0
2,Self Employed,1.0,Giddi,1.0,SC,Secondary,Service Sector,Tourism and Hospital,3-7 years,5-7 days,...,NaN,1,0,0,NaN,1,1,1,1,0
3,Self Employed,1.0,Shubham singh,0.0,SC,Secondary,Service Sector,Transport,1-3 years,5-7 days,...,NaN,1,1,0,NaN,1,0,1,1,0
4,Self Employed,1.0,Anjali,1.0,SC,Higher Secondary,Industry,Banking and Finance,1-3 years,5-7 days,...,NaN,1,0,0,NaN,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5558,Self Employed,0.0,ram samajh,NaN,NaN,NaN,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,0,0,NaN,1,1,0,1,0
5559,Self Employed,0.0,poonam,1.0,SC,Secondary,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,0,0,NaN,1,0,0,1,0
5560,Self Employed,0.0,Shobha vati,1.0,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,0,0,0,NaN,0,0,1,0,0
5561,Self Employed,0.0,dinesh,0.0,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,1,0,NaN,1,0,0,1,0
5562,Self Employed,0.0,nitu,1.0,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,1,0,NaN,1,0,0,1,0

In [191]:
obj_df["medical facilty at work"] = obj_df["medical facilty at work"].map( 
                   {'Y':1 ,'N':0})

In [192]:
obj_df

,type_respondent,workplace_setup,name,gender,community,educ_qua,work_sector,work_sector_i,year_employment,workdays_weekly,...,is_policy_conn_health,Monthly Income FI,BPL FI,Income Expenses Savings FI,Loan Assets FI,Financial Index Negative,Employer Satisfaction Index,Health status positive,work affecting health positive,medical facilty at work
0,Self Employed,1.0,mevati devi,Female,OBC,Secondary,Currently Unemployed,Others,NaN,NaN,...,NaN,1,0,0,0,1,0,0,1,1
1,Self Employed,1.0,Govind,Male,SC,Secondary,Service Sector,Organised and Unorganised Retail,3-7 years,5-7 days,...,NaN,1,0,0,0,1,0,1,0,0
2,Self Employed,1.0,Giddi,Female,SC,Secondary,Service Sector,Tourism and Hospital,3-7 years,5-7 days,...,NaN,1,0,0,0,1,1,1,1,0
3,Self Employed,1.0,Shubham singh,Male,SC,Secondary,Service Sector,Transport,1-3 years,5-7 days,...,NaN,1,1,0,0,1,0,1,1,0
4,Self Employed,1.0,Anjali,Female,SC,Higher Secondary,Industry,Banking and Finance,1-3 years,5-7 days,...,NaN,1,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5558,Self Employed,0.0,ram samajh,NaN,NaN,NaN,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,0,0,0,1,1,0,1,0
5559,Self Employed,0.0,poonam,Female,SC,Secondary,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,0,0,0,1,0,0,1,0
5560,Self Employed,0.0,Shobha vati,Female,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,1,0,0
5561,Self Employed,0.0,dinesh,Male,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,1,0,0,1,0,0,1,0
5562,Self Employed,0.0,nitu,Female,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,1,0,0,1,0,0,1,0

In [193]:
obj_df["gender"] = obj_df["gender"].map( 
                   {'Female':1 ,'Male':0})

In [194]:
obj_df

,type_respondent,workplace_setup,name,gender,community,educ_qua,work_sector,work_sector_i,year_employment,workdays_weekly,...,is_policy_conn_health,Monthly Income FI,BPL FI,Income Expenses Savings FI,Loan Assets FI,Financial Index Negative,Employer Satisfaction Index,Health status positive,work affecting health positive,medical facilty at work
0,Self Employed,1.0,mevati devi,1.0,OBC,Secondary,Currently Unemployed,Others,NaN,NaN,...,NaN,1,0,0,0,1,0,0,1,1
1,Self Employed,1.0,Govind,0.0,SC,Secondary,Service Sector,Organised and Unorganised Retail,3-7 years,5-7 days,...,NaN,1,0,0,0,1,0,1,0,0
2,Self Employed,1.0,Giddi,1.0,SC,Secondary,Service Sector,Tourism and Hospital,3-7 years,5-7 days,...,NaN,1,0,0,0,1,1,1,1,0
3,Self Employed,1.0,Shubham singh,0.0,SC,Secondary,Service Sector,Transport,1-3 years,5-7 days,...,NaN,1,1,0,0,1,0,1,1,0
4,Self Employed,1.0,Anjali,1.0,SC,Higher Secondary,Industry,Banking and Finance,1-3 years,5-7 days,...,NaN,1,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5558,Self Employed,0.0,ram samajh,NaN,NaN,NaN,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,0,0,0,1,1,0,1,0
5559,Self Employed,0.0,poonam,1.0,SC,Secondary,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,0,0,0,1,0,0,1,0
5560,Self Employed,0.0,Shobha vati,1.0,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,1,0,0
5561,Self Employed,0.0,dinesh,0.0,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,1,0,0,1,0,0,1,0
5562,Self Employed,0.0,nitu,1.0,OBC,Primary,Currently Unemployed,NaN,NaN,NaN,...,NaN,1,1,0,0,1,0,0,1,0

In [195]:
obj_df.corr("gender","medical facilty at work","workplace_setup",
                "Monthly Income FI", "BPL FI","Income Expenses Savings FI", 
                "Loan Assets FI","Financial Index Negative","Employer Satisfaction Index",
                "Health status positive", "work affecting health positive", "medical facilty at work",
                "bonus","pf","wage_others","fixed_asset_land",
                "fixed_asset_cattle")

TypeError: corr() takes from 1 to 3 positional arguments but 18 were given

In [202]:
findata= obj_df[["gender","medical facilty at work","workplace_setup",
                "Monthly Income FI", "BPL FI","Financial Index Negative","Employer Satisfaction Index",
                "Health status positive", "work affecting health positive", "medical facilty at work",
                "bonus","pf","wage_others","fixed_asset_land",
                "fixed_asset_cattle"]]

In [203]:
findata.corr()

,gender,medical facilty at work,workplace_setup,Monthly Income FI,BPL FI,Financial Index Negative,Employer Satisfaction Index,Health status positive,work affecting health positive,medical facilty at work,bonus,wage_others,fixed_asset_land,fixed_asset_cattle
gender,1.000000,-0.011275,0.014666,0.025777,0.004760,0.027124,-0.011641,-0.029226,-0.013367,-0.011275,0.016588,0.020275,0.035495,0.003814
medical facilty at work,-0.011275,1.000000,0.056201,-0.045174,0.019747,-0.047556,-0.074947,-0.088289,-0.270878,1.000000,0.161198,0.401102,0.037586,0.033376
workplace_setup,0.014666,0.056201,1.000000,-0.113626,0.197219,-0.030786,0.157721,0.028520,-0.040973,0.056201,0.084794,-0.031176,0.082071,-0.054124
Monthly Income FI,0.025777,-0.045174,-0.113626,1.000000,-0.063970,0.829542,-0.047118,-0.123462,0.104554,-0.045174,-0.084012,-0.000101,0.000546,0.004561
BPL FI,0.004760,0.019747,0.197219,-0.063970,1.000000,0.225013,0.041693,-0.108476,0.028772,0.019747,0.138236,-0.021049,0.043222,-0.012512
Financial Index Negative,0.027124,-0.047556,-0.030786,0.829542,0.225013,1.000000,-0.045277,-0.100894,0.129400,-0.047556,-0.032176,-0.034430,0.086876,0.002937
Employer Satisfaction Index,-0.011641,-0.074947,0.157721,-0.047118,0.041693,-0.045277,1.000000,0.273062,-0.017313,-0.074947,0.031093,-0.161731,-0.111624,0.029758
Health status positive,-0.029226,-0.088289,0.028520,-0.123462,-0.108476,-0.100894,0.273062,1.000000,0.034425,-0.088289,-0.148560,-0.233372,0.102429,-0.014169
work affecting health positive,-0.013367,-0.270878,-0.040973,0.104554,0.028772,0.129400,-0.017313,0.034425,1.000000,-0.270878,-0.141836,-0.357822,0.003910,-0.013264
medical facilty at work,-0.011275,1.000000,0.056201,-0.045174,0.019747,-0.047556,-0.074947,-0.088289,-0.270878,1.000000,0.161198,0.401102,0.037586,0.033376
bonus,0.016588,0.161198,0.084794,-0.084012,0.138236,-0.032176,0.031093,-0.148560,-0.141836,0.161198,1.000000,0.270289,0.029277,0.008775
wage_others,0.020275,0.401102,-0.031176,-0.000101,-0.021049,-0.034430,-0.161731,-0.233372,-0.357822,0.401102,0.270289,1.000000,0.228657,0.078200
fixed_asset_land,0.035495,0.037586,0.082071,0.000546,0.043222,0.086876,-0.111624,0.102429,0.003910,0.037586,0.029277,0.228657,1.000000,-0.087941
fixed_asset_cattle,0.003814,0.033376,-0.054124,0.004561,-0.012512,0.002937,0.029758,-0.014169,-0.013264,0.033376,0.008775,0.078200,-0.087941,1.000000

In [204]:
df.corr()

,Unnamed: 0,age,tot_mon_income_house,tot_mon_exp_house,tot_cumm_save_cih_bk,tot_cumm_saving_jewlry,tot_cumm_saving_other,Accident ESI,Issues ESI
Unnamed: 0,1.000000,-0.020248,0.009368,0.009487,-0.016058,0.551049,0.030717,-0.143281,0.080904
age,-0.020248,1.000000,-0.024040,-0.024826,-0.018290,-0.003548,0.028328,0.023350,-0.030768
tot_mon_income_house,0.009368,-0.024040,1.000000,1.000000,-0.003356,-0.111926,0.020712,-0.003145,-0.012858
tot_mon_exp_house,0.009487,-0.024826,1.000000,1.000000,-0.003351,0.328793,0.168091,-0.003332,-0.012366
tot_cumm_save_cih_bk,-0.016058,-0.018290,-0.003356,-0.003351,1.000000,-0.250772,0.270775,0.000745,0.003511
tot_cumm_saving_jewlry,0.551049,-0.003548,-0.111926,0.328793,-0.250772,1.000000,NaN,-0.089604,0.058042
tot_cumm_saving_other,0.030717,0.028328,0.020712,0.168091,0.270775,NaN,1.000000,-0.055589,-0.302584
Accident ESI,-0.143281,0.023350,-0.003145,-0.003332,0.000745,-0.089604,-0.055589,1.000000,-0.028860
Issues ESI,0.080904,-0.030768,-0.012858,-0.012366,0.003511,0.058042,-0.302584,-0.028860,1.000000